@use '../abstracts/breakpoints';
@use '../abstracts/variables';

.products {
    grid-area: products;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.6rem;

        @include breakpoints.up(md) {
            padding: 2.4rem 1.6rem;
        }

        @include breakpoints.up(lg) {
            padding: 2.4rem 0;
        }

        &--woocommerce {
            padding: 1.6rem 0;
            margin-bottom: 2.4rem;
        }

        a {
            display: none;

            @include breakpoints.up(md) {
                display: inline-flex;
            }
        }
    }
}