@use '../abstracts/variables';
@use '../abstracts/breakpoints';
@use '../abstracts/mixins';

.carousel-cards {
    &__title {
        text-align: center;
        margin-bottom: 1.6rem;

        @include breakpoints.up(lg) {
            margin-bottom: 2.4rem;
        }
    }

    &__label {
        margin: 0 auto 5.6rem auto;
    }

    &__inner {
        position: relative;
    }

    &__swiper {
        @include breakpoints.up(lg) {
            border-radius: variables.$border-radius-main;
        }
    }

    &__img-wrap {
        line-height: 0;

        .rectangular & {
            @include mixins.aspect-ratio(473, 390);

            @include breakpoints.up(lg) {
                @include mixins.aspect-ratio(614, 386);
            }
        }

        .square & {
            @include mixins.aspect-ratio(1, 1);
        }
    }

    .swiper-btn {
        $button-offset: -2.8rem;
        display: none;

        @include breakpoints.up(lg) {
            display: flex;
            position: absolute;
            top: 50%;
            margin-top: $button-offset;
        }

        &--prev {
            left: 0;
            margin-left: $button-offset;
        }

        &--next {
            right: 0;
            margin-right: $button-offset;
        }
    }
}
